body {
    background-image:url(../img/vegetables.jpg)
}
.container_main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.container1 {
    background-color: pink;
    text-align: center;
}